body {
  width: 850px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

.image-container {
  background-image: url("../img/nasa-background.jpg");
  background-repeat: no-repeat;
  height: 450px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;

}

.nasa {
  /* font-family: 'Roboto', sans-serif; */
  color: white;
  font-size: 50px;
}

.info {
  background-color: #E6E6E6;
  margin: 20px 0px;
  height: 324px;
}

.info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 0 10px;
  line-height: 22px;
  padding: 0 20px;
}

.info > div {
  width: 270px;
  text-align: left;
}

.links ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.links a {
  color: black;
  text-decoration: none;
}

#name input[type="text"]{
  width: 265px;
  border: none;
}

textarea {
  min-width: 265px;
  min-height: 80px;
  justify-content: flex-start;
  align-items: flex-start;
  border: none;
  box-sizing: border-box;
  resize: both;
  overflow: auto;
}

/* #message input[type="text"]{
  width: 265px;
  height: 80px;
  justify-content: flex-start;
  align-items: flex-start;
  border: none;
} */

button {
  background-color: #4D4D4D;
  color: white;
  margin-top: 5px;
  width: 70px;
  height: 30px;
  border: none;
}

button:hover{
  cursor: pointer;
}
